cookie_name=COOKIE_NAME_HERE
cookie_password=COOKIE_ENCRYPTION_KEY_HERE_MUST_BE_32_CHARS
db=mongodb://127.0.0.1:27017/PLACE-MARK?directConnection=true

cloudinary_name=your_cloud_name
cloudinary_key=your_api_key
cloudinary_secret=your_api_secret

FIREBASE_API_KEY=API_KEY
FIREBASE_AUTH_DOMAIN=PROJECT_ID.firebaseapp.com
FIREBASE_PROJECT_ID=PROJECT_ID
FIREBASE_STORAGE_BUCKET=PROJECT_ID.appspot.com
FIREBASE_MESSAGING_SENDER_ID=XXXX
FIREBASE_APP_ID=XXXX
