{{> menu active="dashboard"}}

<section class="section">
  <div class="columns is-variable is-6">
    <div class="column is-5">
      <div class="card has-background-grey-lighter">
        <div class="card-content">
          <h2 class="title is-4">{{#if pubId}}Edit {{form.name}}{{else}}Add a new pub{{/if}}</h2>
          <p class="subtitle is-6">Add the details of your favorite pub</p>
          {{> error }}
          {{> pubs-form }}
        </div>
      </div>
    </div>

    <div class="column is-7">
      <div class="card has-background-grey-lighter">
        <div class="card-content">
          <h2 class="title is-4">Pubs</h2>

          <div class="buttons mb-4">
            <a href="/dashboard" id="all" class="button is-small is-light">All</a>
            <a href="/dashboard/pub/daytime" id="daytime" class="button is-small is-light">Daytime</a>
            <a href="/dashboard/pub/nighttime" id="nighttime" class="button is-small is-light">Nighttime</a>
            <a href="/dashboard/pub/liveMusic" id="liveMusic" class="button is-small is-light">Live Music</a>
            <a href="/dashboard/pub/dj" id="dj" class="button is-small is-light">DJ</a>
          </div>

          {{#if pubs.length}}
            {{> pubs-list}}
          {{else}}
            <div class="notification is-warning is-light">No pubs added yet. Use the form on the left to create your first one.</div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const activeCategory = "{{category}}";
  if (activeCategory) {
    const el = document.getElementById(activeCategory);
    el.classList.remove("is-light");
    el.classList.add("is-success");
  } else {
    const el = document.getElementById("all");
    el.classList.remove("is-light");
    el.classList.add("is-success");
  }
</script>
