{{> welcome-menu active="login"}}
<main class="section">
  <div class="columns is-centered">
    <div class="column is-6">
      <div class="card has-background-grey-lighter">
        <div class="card-content">
          <h2 class="title has-text-centered">Log in</h2>
          <p class="subtitle has-text-centered">Sign in to manage your favorite Dublin pubs.</p>
          {{> error }}
          <form method="POST" action="/login">
            <div class="field">
              <label class="label" for="email">Email</label>
                <input class="input" type="email" id="email" name="email" value="{{email}}" required />
            </div>

            <div class="field">
              <label class="label" for="password">Password</label>
                <input class="input" type="password" id="password" name="password" required />
            </div>

            <div class="field is-grouped mt-5">
                <button class="button is-success is-fullwidth">Log in</button>
            </div>
          </form>

          <p class="has-text-centered mt-4">
            Don't have an account?
            <a class="has-text-success has-text-weight-semibold" href="/signup">Sign up here</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>