<div class="card hero is-halfheight has-background-grey-lighter has-text-centered">
  <div class="hero-body is-flex is-flex-direction-column is-justify-content-center">
    <p class="title">Welcome to Dublin Pubs</p>
    <p class="subtitle">Explore and rate the best pubs in Dublin.</p>
  </div>
</div>