<nav class="navbar p-4 has-background-grey-darker" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    {{> place-mark-brand}}
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="home" class="button is-success is-light" href="/">Home</a>
          <a class="button is-success is-light" id="login" href="/login"> Log in </a> 
          <a class="button is-success is-light" id="signup" href="/signup"> Sign
          up </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.getElementById("{{active}}").classList.remove("is-light");
</script>